.rrap__audio_progress_container {
  position: relative;
  -webkit-box-flex: 1;
          flex-grow: 1;
  min-width: 300px; }

.rrap__audio_progress_bar {
  height: 100%; }
  .rrap__audio_progress_bar .progress {
    background-color: #4a4a4a; }
