@-webkit-keyframes rrap__marquee1 {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); } }

@keyframes rrap__marquee1 {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); } }

@-webkit-keyframes rrap__marquee2 {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  100% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%); } }

@keyframes rrap__marquee2 {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  100% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%); } }

@-webkit-keyframes rrap__marquee3 {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  100% {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%); } }

@keyframes rrap__marquee3 {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  100% {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%); } }

@-webkit-keyframes rrap__marquee4 {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  100% {
    -webkit-transform: translateX(-400%);
            transform: translateX(-400%); } }

@keyframes rrap__marquee4 {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  100% {
    -webkit-transform: translateX(-400%);
            transform: translateX(-400%); } }

@-webkit-keyframes rrap__marquee5 {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  100% {
    -webkit-transform: translateX(-500%);
            transform: translateX(-500%); } }

@keyframes rrap__marquee5 {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  100% {
    -webkit-transform: translateX(-500%);
            transform: translateX(-500%); } }

.rrap__audio_status_bar {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: justify;
          justify-content: space-between; }

.rrap__audio_info_marquee {
  overflow: hidden;
  /* to make room for __audio_time_progress */
  width: auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center;
  margin-left: 10px; }

.rrap__audio_info {
  display: none;
  width: 100%;
  white-space: nowrap;
  word-break: break-all;
  margin: 0;
  font-size: 19.2px;
  color: #fff; }
  .rrap__audio_info__166-245 {
    display: initial;
    -webkit-animation: rrap__marquee5 10s cubic-bezier(0, 0.23, 0.6, -0.09) infinite;
            animation: rrap__marquee5 10s cubic-bezier(0, 0.23, 0.6, -0.09) infinite; }
  .rrap__audio_info__246-345 {
    display: initial;
    -webkit-animation: rrap__marquee4 10s cubic-bezier(0, 0.23, 0.7, -0.09) infinite;
            animation: rrap__marquee4 10s cubic-bezier(0, 0.23, 0.7, -0.09) infinite; }
  .rrap__audio_info__346-445 {
    display: initial;
    -webkit-animation: rrap__marquee3 10s cubic-bezier(0, 0.23, 0.85, -0.09) infinite;
            animation: rrap__marquee3 10s cubic-bezier(0, 0.23, 0.85, -0.09) infinite; }
  .rrap__audio_info__446-515 {
    display: initial;
    -webkit-animation: rrap__marquee2 10s cubic-bezier(0, 0.23, 1, -0.09) infinite;
            animation: rrap__marquee2 10s cubic-bezier(0, 0.23, 1, -0.09) infinite; }
  .rrap__audio_info__516 {
    display: initial;
    -webkit-animation: initial;
            animation: initial; }

.rrap__audio_time_progress {
  margin-right: 10px;
  padding-left: 15px;
  align-self: center;
  color: #fff;
  font-size: 19px; }
