.rrap {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: wrap-reverse;
  -webkit-box-pack: center;
          justify-content: center;
  background-color: #333; }
  .rrap > * {
    height: 50px; }
