.icono-stroke, .icono-volumeLow:before, .icono-volumeMedium:before, .icono-volumeHigh:before, .icono-volumeHigh:after {
  border: 2px solid; }

.stickCenterV, .icono-volumeLow:before, .icono-volumeMedium:before, .icono-volumeHigh:before, .icono-volumeHigh:after, .icono-volumeDecrease:before, .icono-volumeIncrease:before, .icono-volumeMute:before, .icono-volumeDecrease:after, .icono-volumeIncrease:after, .icono-volumeMute:after {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }

.stickCenterH {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }

.stickCenter {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.spin[class*="spin"] {
  -webkit-animation: loading-spinner 2s infinite linear;
          animation: loading-spinner 2s infinite linear; }

@-webkit-keyframes loading-spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes loading-spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.icono-volume, .icono-volumeLow, .icono-volumeMedium, .icono-volumeHigh, .icono-volumeDecrease, .icono-volumeIncrease, .icono-volumeMute {
  width: 0;
  height: 0;
  border: 7px solid;
  border-left: none;
  border-top-color: transparent;
  border-bottom-color: transparent;
  padding: 6px 3px;
  box-shadow: inset 4px 0;
  margin: 4px 10px 4px 11px; }

.icono-volumeLow, .icono-volumeMedium, .icono-volumeHigh {
  margin: 4px 14px 4px 7px; }
  .icono-volumeLow:before, .icono-volumeMedium:before, .icono-volumeHigh:before, .icono-volumeHigh:after {
    width: 15px;
    height: 15px;
    position: absolute;
    border-radius: 50%;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    left: 2px; }

.icono-volumeMedium, .icono-volumeHigh {
  margin: 4px 16px 4px 5px; }
  .icono-volumeMedium:before, .icono-volumeHigh:before {
    border-style: double;
    border-width: 6px;
    left: -2px; }

.icono-volumeHigh {
  margin: 4px 18px 4px 3px; }
  .icono-volumeHigh:after {
    width: 32px;
    height: 32px;
    left: -7px; }

.icono-volumeDecrease, .icono-volumeIncrease, .icono-volumeMute {
  margin: 4px 16px 4px 5px; }
  .icono-volumeDecrease:before, .icono-volumeIncrease:before, .icono-volumeMute:before, .icono-volumeDecrease:after, .icono-volumeIncrease:after, .icono-volumeMute:after {
    box-shadow: inset 0 0 0 32px; }
  .icono-volumeDecrease:before, .icono-volumeIncrease:before, .icono-volumeMute:before {
    width: 10px;
    height: 2px;
    left: 17px; }

.icono-volumeIncrease:after, .icono-volumeMute:after {
  height: 10px;
  width: 2px;
  left: 21px; }

.icono-volumeMute:after, .icono-volumeMute:before {
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg); }

[class*='icono-'] {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  font-style: normal;
  color: #fff;
  text-align: left;
  text-indent: -9999px;
  direction: ltr; }
  [class*='icono-']:before, [class*='icono-']:after {
    content: '';
    pointer-events: none; }
  [class*='icono-'], [class*='icono-'] * {
    box-sizing: border-box; }
