.rrap__material_toggle {
  background: none;
  border: none; }
  .rrap__material_toggle .inner {
    margin-left: -8px;
    margin-right: -8px;
    width: 48px;
    height: 42px; }
  .rrap__material_toggle svg {
    fill: gray; }
  .rrap__material_toggle.on svg {
    fill: #fff; }
