.rrap {
  /* http://codepen.io/aralon/pen/NqGWXZ */ }
  .rrap__play_pause_button {
    background: none;
    border: none; }
    .rrap__play_pause_button .play_pause_inner {
      height: 30px;
      width: 30px;
      overflow: hidden;
      position: relative; }
    .rrap__play_pause_button .triangle_1 {
      -webkit-transform: translate(0, -100%);
              transform: translate(0, -100%); }
    .rrap__play_pause_button .triangle_2 {
      -webkit-transform: translate(0, 100%);
              transform: translate(0, 100%); }
    .rrap__play_pause_button .triangle_1,
    .rrap__play_pause_button .triangle_2 {
      position: absolute;
      top: 0;
      right: 0;
      background-color: transparent;
      width: 0;
      height: 0;
      border-right: 30px solid #333;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      transition: -webkit-transform 0.25s ease;
      transition: transform 0.25s ease;
      transition: transform 0.25s ease, -webkit-transform 0.25s ease; }
    .rrap__play_pause_button .left,
    .rrap__play_pause_button .right {
      height: 100%;
      background-color: #fff;
      width: 36%;
      transition: all 0.25s ease; }
    .rrap__play_pause_button .left {
      float: left; }
    .rrap__play_pause_button .right {
      float: right; }
    .rrap__play_pause_button.paused .left,
    .rrap__play_pause_button.paused .right {
      width: 50%; }
    .rrap__play_pause_button.paused .triangle_1 {
      -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%); }
    .rrap__play_pause_button.paused .triangle_2 {
      -webkit-transform: translate(0, 50%);
              transform: translate(0, 50%); }
