.rrap__audio_button {
  padding-left: 11px;
  padding-right: 11px;
  margin-left: 4px;
  margin-right: 4px;
  cursor: pointer;
  align-self: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  height: 50px; }
  .rrap__audio_button .foreground {
    opacity: 0.8; }
  .rrap__audio_button:hover .foreground,
  .rrap__audio_button.highlight .foreground {
    opacity: 1; }
  .rrap__audio_button:active .foreground {
    opacity: 0.7; }
