.rrap__volume_control {
  height: 50px;
  position: relative; }
  .rrap__volume_control .button {
    background: none;
    border: none;
    width: 32px; }
    .rrap__volume_control .button [class*='icono-volume'] {
      margin-left: 0; }
  .rrap__volume_control__volume_bar_container {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 1; }
    .rrap__volume_control__volume_bar_container.hiddenup, .rrap__volume_control__volume_bar_container.hiddenright {
      visibility: hidden; }
    .rrap__volume_control__volume_bar_container.hiddenup, .rrap__volume_control__volume_bar_container.upabove {
      width: 100%;
      height: 158px; }
    .rrap__volume_control__volume_bar_container.hiddenright, .rrap__volume_control__volume_bar_container.rightabove, .rrap__volume_control__volume_bar_container.rightbelow {
      width: 180px;
      height: 78px; }
    .rrap__volume_control__volume_bar_container.hiddenup, .rrap__volume_control__volume_bar_container.hiddenright, .rrap__volume_control__volume_bar_container.upabove, .rrap__volume_control__volume_bar_container.rightabove {
      bottom: 50px; }
    .rrap__volume_control__volume_bar_container.rightbelow {
      top: 50px; }
  .rrap__volume_control__volume_bar {
    position: absolute;
    border-radius: 11px;
    background-color: #333; }
    .rrap__volume_control__volume_bar.hiddenup, .rrap__volume_control__volume_bar.upabove {
      bottom: 28px;
      top: 50px;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      width: 22px; }
    .rrap__volume_control__volume_bar.hiddenright, .rrap__volume_control__volume_bar.rightabove, .rrap__volume_control__volume_bar.rightbelow {
      bottom: 28px;
      top: 28px;
      left: 50px;
      right: 50px; }
    .rrap__volume_control__volume_bar .volume {
      border-radius: 11px;
      background-color: #fff; }
    .rrap__volume_control__volume_bar .handle {
      cursor: pointer;
      width: 34px;
      height: 34px;
      border-radius: 50%;
      background-color: #fff;
      box-shadow: 1px 1px 6px 0px rgba(51, 51, 51, 0.8);
      position: relative; }
      .rrap__volume_control__volume_bar .handle > div {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 34px;
        height: 34px;
        border-radius: 50%;
        background-color: #fff;
        opacity: 0.8; }
      .rrap__volume_control__volume_bar .handle:hover > div,
      .rrap__volume_control__volume_bar .handle.highlight > div {
        opacity: 1; }
      .rrap__volume_control__volume_bar .handle:active > div {
        opacity: 1; }
