.icono-stroke, .icono-volumeLow:before, .icono-volumeMedium:before, .icono-volumeHigh:before, .icono-volumeHigh:after {
  border: 2px solid; }

.stickCenterV, .icono-volumeLow:before, .icono-volumeMedium:before, .icono-volumeHigh:before, .icono-volumeHigh:after, .icono-volumeDecrease:before, .icono-volumeIncrease:before, .icono-volumeMute:before, .icono-volumeDecrease:after, .icono-volumeIncrease:after, .icono-volumeMute:after {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }

.stickCenterH {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }

.stickCenter {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.spin[class*="spin"] {
  -webkit-animation: loading-spinner 2s infinite linear;
          animation: loading-spinner 2s infinite linear; }

@-webkit-keyframes loading-spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes loading-spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.icono-volume, .icono-volumeLow, .icono-volumeMedium, .icono-volumeHigh, .icono-volumeDecrease, .icono-volumeIncrease, .icono-volumeMute {
  width: 0;
  height: 0;
  border: 7px solid;
  border-left: none;
  border-top-color: transparent;
  border-bottom-color: transparent;
  padding: 6px 3px;
  box-shadow: inset 4px 0;
  margin: 4px 10px 4px 11px; }

.icono-volumeLow, .icono-volumeMedium, .icono-volumeHigh {
  margin: 4px 14px 4px 7px; }
  .icono-volumeLow:before, .icono-volumeMedium:before, .icono-volumeHigh:before, .icono-volumeHigh:after {
    width: 15px;
    height: 15px;
    position: absolute;
    border-radius: 50%;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    left: 2px; }

.icono-volumeMedium, .icono-volumeHigh {
  margin: 4px 16px 4px 5px; }
  .icono-volumeMedium:before, .icono-volumeHigh:before {
    border-style: double;
    border-width: 6px;
    left: -2px; }

.icono-volumeHigh {
  margin: 4px 18px 4px 3px; }
  .icono-volumeHigh:after {
    width: 32px;
    height: 32px;
    left: -7px; }

.icono-volumeDecrease, .icono-volumeIncrease, .icono-volumeMute {
  margin: 4px 16px 4px 5px; }
  .icono-volumeDecrease:before, .icono-volumeIncrease:before, .icono-volumeMute:before, .icono-volumeDecrease:after, .icono-volumeIncrease:after, .icono-volumeMute:after {
    box-shadow: inset 0 0 0 32px; }
  .icono-volumeDecrease:before, .icono-volumeIncrease:before, .icono-volumeMute:before {
    width: 10px;
    height: 2px;
    left: 17px; }

.icono-volumeIncrease:after, .icono-volumeMute:after {
  height: 10px;
  width: 2px;
  left: 21px; }

.icono-volumeMute:after, .icono-volumeMute:before {
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg); }

[class*='icono-'] {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  font-style: normal;
  color: #fff;
  text-align: left;
  text-indent: -9999px;
  direction: ltr; }
  [class*='icono-']:before, [class*='icono-']:after {
    content: '';
    pointer-events: none; }
  [class*='icono-'], [class*='icono-'] * {
    box-sizing: border-box; }

.rrap__audio_button {
  padding-left: 11px;
  padding-right: 11px;
  margin-left: 4px;
  margin-right: 4px;
  cursor: pointer;
  align-self: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  height: 50px; }
  .rrap__audio_button .foreground {
    opacity: 0.8; }
  .rrap__audio_button:hover .foreground,
  .rrap__audio_button.highlight .foreground {
    opacity: 1; }
  .rrap__audio_button:active .foreground {
    opacity: 0.7; }

.rrap {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: wrap-reverse;
  -webkit-box-pack: center;
          justify-content: center;
  background-color: #333; }
  .rrap > * {
    height: 50px; }

.rrap__audio_progress_container {
  position: relative;
  -webkit-box-flex: 1;
          flex-grow: 1;
  min-width: 300px; }

.rrap__audio_progress_bar {
  height: 100%; }
  .rrap__audio_progress_bar .progress {
    background-color: #4a4a4a; }

@-webkit-keyframes rrap__marquee1 {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); } }

@keyframes rrap__marquee1 {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); } }

@-webkit-keyframes rrap__marquee2 {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  100% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%); } }

@keyframes rrap__marquee2 {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  100% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%); } }

@-webkit-keyframes rrap__marquee3 {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  100% {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%); } }

@keyframes rrap__marquee3 {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  100% {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%); } }

@-webkit-keyframes rrap__marquee4 {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  100% {
    -webkit-transform: translateX(-400%);
            transform: translateX(-400%); } }

@keyframes rrap__marquee4 {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  100% {
    -webkit-transform: translateX(-400%);
            transform: translateX(-400%); } }

@-webkit-keyframes rrap__marquee5 {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  100% {
    -webkit-transform: translateX(-500%);
            transform: translateX(-500%); } }

@keyframes rrap__marquee5 {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  100% {
    -webkit-transform: translateX(-500%);
            transform: translateX(-500%); } }

.rrap__audio_status_bar {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: justify;
          justify-content: space-between; }

.rrap__audio_info_marquee {
  overflow: hidden;
  /* to make room for __audio_time_progress */
  width: auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center;
  margin-left: 10px; }

.rrap__audio_info {
  display: none;
  width: 100%;
  white-space: nowrap;
  word-break: break-all;
  margin: 0;
  font-size: 19.2px;
  color: #fff; }
  .rrap__audio_info__166-245 {
    display: initial;
    -webkit-animation: rrap__marquee5 10s cubic-bezier(0, 0.23, 0.6, -0.09) infinite;
            animation: rrap__marquee5 10s cubic-bezier(0, 0.23, 0.6, -0.09) infinite; }
  .rrap__audio_info__246-345 {
    display: initial;
    -webkit-animation: rrap__marquee4 10s cubic-bezier(0, 0.23, 0.7, -0.09) infinite;
            animation: rrap__marquee4 10s cubic-bezier(0, 0.23, 0.7, -0.09) infinite; }
  .rrap__audio_info__346-445 {
    display: initial;
    -webkit-animation: rrap__marquee3 10s cubic-bezier(0, 0.23, 0.85, -0.09) infinite;
            animation: rrap__marquee3 10s cubic-bezier(0, 0.23, 0.85, -0.09) infinite; }
  .rrap__audio_info__446-515 {
    display: initial;
    -webkit-animation: rrap__marquee2 10s cubic-bezier(0, 0.23, 1, -0.09) infinite;
            animation: rrap__marquee2 10s cubic-bezier(0, 0.23, 1, -0.09) infinite; }
  .rrap__audio_info__516 {
    display: initial;
    -webkit-animation: initial;
            animation: initial; }

.rrap__audio_time_progress {
  margin-right: 10px;
  padding-left: 15px;
  align-self: center;
  color: #fff;
  font-size: 19px; }

.rrap {
  /* http://codepen.io/aralon/pen/NqGWXZ */ }
  .rrap__play_pause_button {
    background: none;
    border: none; }
    .rrap__play_pause_button .play_pause_inner {
      height: 30px;
      width: 30px;
      overflow: hidden;
      position: relative; }
    .rrap__play_pause_button .triangle_1 {
      -webkit-transform: translate(0, -100%);
              transform: translate(0, -100%); }
    .rrap__play_pause_button .triangle_2 {
      -webkit-transform: translate(0, 100%);
              transform: translate(0, 100%); }
    .rrap__play_pause_button .triangle_1,
    .rrap__play_pause_button .triangle_2 {
      position: absolute;
      top: 0;
      right: 0;
      background-color: transparent;
      width: 0;
      height: 0;
      border-right: 30px solid #333;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      transition: -webkit-transform 0.25s ease;
      transition: transform 0.25s ease;
      transition: transform 0.25s ease, -webkit-transform 0.25s ease; }
    .rrap__play_pause_button .left,
    .rrap__play_pause_button .right {
      height: 100%;
      background-color: #fff;
      width: 36%;
      transition: all 0.25s ease; }
    .rrap__play_pause_button .left {
      float: left; }
    .rrap__play_pause_button .right {
      float: right; }
    .rrap__play_pause_button.paused .left,
    .rrap__play_pause_button.paused .right {
      width: 50%; }
    .rrap__play_pause_button.paused .triangle_1 {
      -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%); }
    .rrap__play_pause_button.paused .triangle_2 {
      -webkit-transform: translate(0, 50%);
              transform: translate(0, 50%); }

.rrap__volume_control {
  height: 50px;
  position: relative; }
  .rrap__volume_control .button {
    background: none;
    border: none;
    width: 32px; }
    .rrap__volume_control .button [class*='icono-volume'] {
      margin-left: 0; }
  .rrap__volume_control__volume_bar_container {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 1; }
    .rrap__volume_control__volume_bar_container.hiddenup, .rrap__volume_control__volume_bar_container.hiddenright {
      visibility: hidden; }
    .rrap__volume_control__volume_bar_container.hiddenup, .rrap__volume_control__volume_bar_container.upabove {
      width: 100%;
      height: 158px; }
    .rrap__volume_control__volume_bar_container.hiddenright, .rrap__volume_control__volume_bar_container.rightabove, .rrap__volume_control__volume_bar_container.rightbelow {
      width: 180px;
      height: 78px; }
    .rrap__volume_control__volume_bar_container.hiddenup, .rrap__volume_control__volume_bar_container.hiddenright, .rrap__volume_control__volume_bar_container.upabove, .rrap__volume_control__volume_bar_container.rightabove {
      bottom: 50px; }
    .rrap__volume_control__volume_bar_container.rightbelow {
      top: 50px; }
  .rrap__volume_control__volume_bar {
    position: absolute;
    border-radius: 11px;
    background-color: #333; }
    .rrap__volume_control__volume_bar.hiddenup, .rrap__volume_control__volume_bar.upabove {
      bottom: 28px;
      top: 50px;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      width: 22px; }
    .rrap__volume_control__volume_bar.hiddenright, .rrap__volume_control__volume_bar.rightabove, .rrap__volume_control__volume_bar.rightbelow {
      bottom: 28px;
      top: 28px;
      left: 50px;
      right: 50px; }
    .rrap__volume_control__volume_bar .volume {
      border-radius: 11px;
      background-color: #fff; }
    .rrap__volume_control__volume_bar .handle {
      cursor: pointer;
      width: 34px;
      height: 34px;
      border-radius: 50%;
      background-color: #fff;
      box-shadow: 1px 1px 6px 0px rgba(51, 51, 51, 0.8);
      position: relative; }
      .rrap__volume_control__volume_bar .handle > div {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 34px;
        height: 34px;
        border-radius: 50%;
        background-color: #fff;
        opacity: 0.8; }
      .rrap__volume_control__volume_bar .handle:hover > div,
      .rrap__volume_control__volume_bar .handle.highlight > div {
        opacity: 1; }
      .rrap__volume_control__volume_bar .handle:active > div {
        opacity: 1; }

.rrap__material_toggle {
  background: none;
  border: none; }
  .rrap__material_toggle .inner {
    margin-left: -8px;
    margin-right: -8px;
    width: 48px;
    height: 42px; }
  .rrap__material_toggle svg {
    fill: gray; }
  .rrap__material_toggle.on svg {
    fill: #fff; }

.rrap__noselect {
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
  /* iOS Safari */ }

.rrap__skip_button {
  background: none;
  border: none; }
  .rrap__skip_button.back {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .rrap__skip_button .skip_button_inner {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row; }
  .rrap__skip_button .right_facing_triangle {
    width: 0;
    height: 0;
    border-left: 16px solid #fff;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; }
  .rrap__skip_button .vertical_bar {
    width: 0;
    height: 0;
    margin-left: -3px;
    border-left: 3px solid #fff;
    border-top: 10px solid #fff;
    border-bottom: 10px solid #fff; }

.rrap__spacer {
  width: 10px; }


/*# sourceMappingURL=audioplayer.css.map*/