.wordwrap {
    word-wrap: break-word;
    display: inline-block;
}

.rdw-colorpicker-custom-modal {
    position: absolute;
    top: 3em;
    left: -4.5em;
    display: flex;
    flex-direction: column;
    width: 175px;
    z-index: 100;
}

.embed-responsive-embed {
    position: relative;
    display: block;
    width: 100%;
    height: 30em;
    padding: 0;
    overflow: hidden;
}

code {
    background: #f1f1f1;
    border-radius: 3px;
    font-size: 87.5%;
    color: #000000;
    padding: 20px 11px 20px;
    width: 100%;
}

// .pre {
//     background: #f1f1f1;
//     border-radius: 3px;
//     padding: 1px 10px;
// }
.rdw-editor-main {
    height: 20em !important;
}