// Styling for the footer
footer {
    padding: 50px 0 65px;
    .list-inline {
        margin: 0;
        padding: 0;
    }
    .copyright {
        font-size: 14px;
        margin-bottom: 0;
        text-align: center;
    }
}

.post-badge {
    &.badge {
        position: relative;
        top: -19px;
        right: 31px;
        display: inline-block;
        padding: 0.25em 0.4em;
        font-size: 60%;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: 0.25rem;
    }
}