// Styling for the masthead
header.masthead {
    // TIP: Background images are set within the HTML using inline CSS!
    margin-bottom: 50px;
    background: no-repeat center center;
    background-color: $gray-600;
    background-attachment: scroll;
    position: relative;
    @include background-cover;
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: $gray-900;
        opacity: 0.5;
        /* For IE8 and earlier */
        filter: alpha(opacity=50);
    }
    .page-heading,
    .post-heading {
        min-height: $headerHeight;
        max-height: $headerHeight;
    }
    .site-heading {
        min-height: $homeHeaderHeight;
        max-height: $homeHeaderHeight;
    }
    .site-heading {
        font-family: "Courier New", Courier, monospace;
        padding: 200px 0 150px;
        color: white;
        @media only screen and (min-width: 768px) {
            padding: 18em 0;
        }
    }
    .page-heading,
    .post-heading {
        font-family: "Courier New", Courier, monospace;
        padding: 115px 0 150px;
        color: white;
        @media only screen and (min-width: 768px) {
            padding: 10em 0;
        }
    }
    .page-heading,
    .site-heading {
        text-align: center;
        h1 {
            font-size: 50px;
            margin-top: 0;
        }
        .subheading {
            font-size: 24px;
            font-weight: 300;
            line-height: 1.1;
            display: block;
            margin: 10px 0 0;
            // @include sans-serif-font;
            font-family: "Courier New", Courier, monospace;
        }
        @media only screen and (min-width: 768px) {
            h1 {
                font-size: 80px;
            }
        }
    }
    .post-heading {
        h1 {
            font-size: 35px;
        }
        .meta,
        .subheading {
            line-height: 1.1;
            display: block;
        }
        .subheading {
            font-size: 24px;
            font-weight: 600;
            margin: 10px 0 30px;
            font-family: "Courier New", Courier, monospace;
            // @include sans-serif-font;
        }
        .meta {
            font-size: 20px;
            font-weight: 300;
            font-style: italic;
            padding-top: 5px;
            @include serif-font;
            a {
                color: $white;
            }
        }
        @media only screen and (min-width: 768px) {
            h1 {
                font-size: 2em;
            }
            .subheading {
                font-size: 30px;
            }
        }
    }
}