.aligned-row {
    display: flex;
    flex-wrap: wrap;
}

@keyframes animatedBackground {
    from {
        background-position: center top;
    }
    to {
        background-position: center bottom;
    }
}

// Styling for the post page
.post-link a {
    text-decoration: none;
    color: $white;
    >.post-bg {
        background: no-repeat center top;
        position: relative;
        background-attachment: scroll;
        background-size: cover;
    }
    @media only screen and (min-width: 991px) {
        &:hover>.post-bg {
            animation: animatedBackground 10s linear infinite .5s alternate;
        }
        >.col-container {
            display: table;
            width: 100%;
        }
        >.col {
            display: table-cell;
            padding: 16px;
        }
    }
}

.post-link .post-preview {
    color: $white;
    position: relative;
    z-index: 2;
    &:hover>.post-overlay {
        opacity: 0.3;
        /* For IE8 and earlier */
        filter: alpha(opacity=30);
    }
    @media only screen and (min-width: 768px) {
        >a {
            >.post-title {
                font-size: 36px;
            }
        }
    }
    padding: 70px;
    >.post-overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #212529;
        opacity: 0.7;
        /* For IE8 and earlier */
        filter: alpha(opacity=70);
        z-index: 1;
    }
    >.post-title,
    .post-subtitle,
    .post-meta {
        position: relative;
        z-index: 2;
    }
    >.post-title {
        margin-top: -66px;
        color: $white;
        padding: 9px;
        margin-left: -65px;
        >.post-subtitle {}
    }
    >.post-meta {
        position: absolute;
        bottom: 5px;
        left: 15px;
    }
}

.posts-feed {
    @media (min-width: 1200px) {
        >.container {
            max-width: 100em;
        }
    }
}