// Awesome-fonts
@import "font-awesome/font-awesome";
// Fonts
@import url("https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
// Bootstrap
@import '~bootstrap/scss/bootstrap';
// Custom template
@import "variables";
@import "mixins";
@import "global";
@import "navbar";
@import "masthead";
@import "post";
@import "contact";
@import "footer";
@import "bootstrap-overrides";
@import "editor.scss";
// Arrow style
// #return-to-top {
//     position: fixed;
//     bottom: 20px;
//     right: 20px;
//     background: rgb(0, 0, 0);
//     background: rgba(0, 0, 0, 0.7);
//     width: 50px;
//     height: 50px;
//     display: block;
//     text-decoration: none;
//     -webkit-border-radius: 35px;
//     -moz-border-radius: 35px;
//     border-radius: 35px;
//     display: none;
//     -webkit-transition: all 0.3s linear;
//     -moz-transition: all 0.3s ease;
//     -ms-transition: all 0.3s ease;
//     -o-transition: all 0.3s ease;
//     transition: all 0.3s ease;
//     i {
//       color: #fff;
//       margin: 0;
//       position: relative; 
//       left: 13px;
//       top: 3px;
//       font-size: 40px;      
//       -webkit-transition: all 0.3s ease;
//       -moz-transition: all 0.3s ease;
//       -ms-transition: all 0.3s ease;
//       -o-transition: all 0.3s ease;
//       transition: all 0.3s ease;
//     }
//     &:hover {
//       background: rgba(0, 0, 0, 0.9);
//       i {
//         color: #fff;
//         top: 0px;
//       }
//     }
//   }
// Arrow style
// ORG
// .footerNavBtn {
//     position: fixed;
//     bottom: 138px;
//     right: 20px;
//     z-index: 99999;
//     ///
//     >.return-to-top {
//         position: fixed;
//         bottom: 138px;
//         right: 20px;
//         z-index: 99999;
//         font-size: 26px;
//         line-height: 44px !important;
//         width: 55px;
//         height: 55px;
//         margin-top: 15px;
//         -webkit-transition: background 0.3s ease-in-out;
//         -moz-transition: background 0.3s ease-in-out;
//         transition: background 0.3s ease-in-out;
//         color: #6c757d;
//         border: 2px solid #6c757d;
//         border-radius: 100% !important;
//         background: $white;
//         display: none;
//         i {
//             margin: 0;
//             position: relative;
//             bottom: 12px;
//         }
//         &:focus,
//         &:hover {
//             color: #6c757d;
//             outline: none;
//             background: fade-out(#6c757d, .9);
//         }
//     }
//     >.return-to-bottom {
//         position: fixed;
//         bottom: 20px;
//         right: 20px;
//         z-index: 99999;
//         font-size: 26px;
//         line-height: 44px !important;
//         width: 55px;
//         height: 55px;
//         margin-top: 15px;
//         -webkit-transition: background 0.3s ease-in-out;
//         -moz-transition: background 0.3s ease-in-out;
//         transition: background 0.3s ease-in-out;
//         color: #6c757d;
//         border: 2px solid #6c757d;
//         border-radius: 100% !important;
//         background: $white;
//         display: none;
//         i {
//             margin: 0;
//             position: relative;
//             bottom: 12px;
//         }
//         &:focus,
//         &:hover {
//             color: #6c757d;
//             outline: none;
//             background: fade-out(#6c757d, .9);
//         }
//     }
//     >.return-to-comments {
//         position: fixed;
//         bottom: 79px;
//         right: 20px;
//         z-index: 99999;
//         font-size: 26px;
//         line-height: 44px !important;
//         width: 55px;
//         height: 55px;
//         margin-top: 15px;
//         -webkit-transition: background 0.3s ease-in-out;
//         -moz-transition: background 0.3s ease-in-out;
//         transition: background 0.3s ease-in-out;
//         color: #6c757d;
//         border: 2px solid #6c757d;
//         border-radius: 100% !important;
//         background: $white;
//         // display: none;
//         i {
//             margin: 0;
//             position: relative;
//             bottom: 12px;
//         }
//         &:focus,
//         &:hover {
//             color: #6c757d;
//             outline: none;
//             background: fade-out(#6c757d, .9);
//         }
//     }
// }
.footerNavBtn {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 99999;
    display: grid;
    align-items: center;
    ///
    >.return-to-top {
        font-size: 26px;
        line-height: 44px !important;
        width: 1.3em;
        height: 1em;
        margin-top: 15px;
        -webkit-transition: background 0.3s ease-in-out;
        -moz-transition: background 0.3s ease-in-out;
        transition: background 0.3s ease-in-out;
        color: #6c757d;
        border: 2px solid #6c757d;
        border-radius: 100% !important;
        background: $white;
        display: none;
        i {
            position: relative;
            margin: 0;
            bottom: 23px;
            left: -6px;
        }
        &:focus,
        &:hover {
            color: #6c757d;
            outline: none;
            background: fade-out(#6c757d, .9);
        }
    }
    >.return-to-bottom {
        font-size: 26px;
        line-height: 44px !important;
        width: 1.3em;
        height: 1em;
        margin-top: 15px;
        -webkit-transition: background 0.3s ease-in-out;
        -moz-transition: background 0.3s ease-in-out;
        transition: background 0.3s ease-in-out;
        color: #6c757d;
        border: 2px solid #6c757d;
        border-radius: 100% !important;
        background: $white;
        display: none;
        i {
            position: relative;
            margin: 0;
            bottom: 21px;
            left: -5px;
        }
        &:focus,
        &:hover {
            color: #6c757d;
            outline: none;
            background: fade-out(#6c757d, .9);
        }
    }
    >.return-to-comments {
        font-size: 26px;
        line-height: 44px !important;
        width: 1.3em;
        height: 1em;
        margin-top: 15px;
        -webkit-transition: background 0.3s ease-in-out;
        -moz-transition: background 0.3s ease-in-out;
        transition: background 0.3s ease-in-out;
        color: #6c757d;
        border: 2px solid #6c757d;
        border-radius: 100% !important;
        background: $white;
        display: none;
        i {
            font-size: 18px;
            position: relative;
            margin: 0;
            bottom: 25px;
            left: -5px;
        }
        &:focus,
        &:hover {
            color: #6c757d;
            outline: none;
            background: fade-out(#6c757d, .9);
        }
    }
}